.text-center
  %h1 Welcome to Hotspot!
  %p This is a free wifi hotspot. You need to sign in with a social network.
  %h2= link_to 'Facebook',  '/auth/facebook'
  %h2= link_to 'Vkontakte', '/auth/vkontakte'
  %h2= link_to 'Twitter',   '/auth/twitter'
