.panel.panel-default
  .panel-heading
    %i.fa.fa-twitter-square
    Twitter: follow us for continue
  .panel-body
    %h4= @company.name
  .panel-footer
    = link_to 'Follow us', event_subscribe_path(:tw), class: 'btn btn-primary btn-block'
.text-center= link_to 'Cancel', auth_path
