%nav.navbar
  .container
    .navbar-header
      = link_to '#', class:'navbar-toggle', data: { toggle: 'collapse', target: '.navbar-collapse', 'aria-expanded': false } do
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        = link_to dashboard_path, class: 'navbar-brand' do
          %i.fa.fa-lg.fa-wifi
          = t('.hotspot')
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        = render 'layouts/navigation_links'
