%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      = link_to '#', class:'navbar-toggle', data: { toggle: 'collapse', target: '.navbar-collapse', 'aria-expanded': false } do
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Hotspot', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'
